<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
         <div class="container-fluid">
            <a class="navbar-brand" href="#">
                 <img src="/img/mail.png" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="#">Student Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav">
                  <li class="nav-item">
                     <a class="nav-link" href="/logout">Log out</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <div class="container-fluid">
         <br/>
         <!-- search bar -->
         <div class="row">
            <div class="col-sm-4">
               <div class="input-group mb-3">
                  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button">Search</button>
                  </div>
               </div>
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-2">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Compose New Request</button>
            </div>
         </div>
         <br/>
         <table class="table table-striped">
            <thead>
               <tr>
                  <th scope="col">Staff Member</th>
                  <th scope="col">Request Type</th>
                  <th scope="col">
                     <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                           <a class="dropdown-item" href="/">--All--</a>
                           <a class="dropdown-item" href="?status=approved">Aproved</a>
                           <a class="dropdown-item" href="?status=pending">Pending</a>
                           <a class="dropdown-item" href="?status=declined">Declined</a>
                        </div>
                     </div>
                  </th>
                  <th scope="col">Date</th>
               </tr>
            </thead>
            <tbody>
              <% requests.forEach(function(request) { %>
               <tr>
                  <td><%= request.staff_name %></td>
                  <td><a href="/request/<%= request.id %>"><%= request.type %></a></td>
                  <td><span class="badge badge-warning"><%= request.status %></span></td>
                  <td><%= request.datetime %></td>
               </tr>
           <% }); %>
            </tbody>
         </table>
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
               <div class="modal-content" style="width:1000px;">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">New Request</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <form>
                        <div class="form-group row" required>
                           <div class="col-sm-1">
                              <label for="colFormLabel" class="col-sm-2 col-form-label">To</label>
                           </div>
                           <div class="col-sm-11">
                              <input type="text" class="form-control" id="colFormLabel" placeholder="Enter Recipient Name" value="" required>
                           </div>
                        </div>
                        <div class="form-group">
                           <select class="custom-select" required>
                              <option value="">Select Request Type</option>
                              <option value="1">Add/Drop</option>
                              <option value="2">Dealdline Extention</option>
                              <option value="3">Apply for Retake Exam</option>
                              <option value="1">Other</option>
                           </select>
                           <div class="invalid-feedback">Example invalid custom select feedback</div>
                        </div>
                        <div class="form-group">
                           <label for="message-text" class="col-form-label">Message:</label>
                           <textarea class="form-control" id="message-text"  style="height:150px;"></textarea>
                        </div>
                        <div class="input-group mb-3">
                           <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile02">
                              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                           </div>
                           <div class="input-group-append">
                              <span class="input-group-text" id="">Upload</span>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Submit Request</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Optional JavaScript; choose one of the two! -->
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
      <script src="/js/test.js" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
   </body>
</html>